.details {
  padding: 2rem 0;
  text-align: center;
}

@media (min-width: 750px) {
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text {
    margin: 0 3rem;
  }

  .title {
    margin-bottom: 1rem;
  }

  .text {
    width: 70%;
    line-height: 2;
  }

  .image {
    width: 70%;
  }
}
