.showcase {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../images/coast.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.title {
  margin-bottom: 1rem;
}

.text {
  margin-bottom: 1.5rem;
}

@media (min-width: 1000px) {
  .title {
    font-size: 3rem;
  }

  .text {
    font-size: 1.2rem;
  }
}
